.App {
	position: relative;
	
	width: 100vw;
	height: 100vh;
	/* overflow: hidden; */
}
.desk, .desk-x, .desk-y {
	position: absolute;

	width: inherit;
	height: inherit;

	background-image: url('./images-sm/desk.jpg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;

	z-index: -1;
}
.desk-x {
	background-repeat: repeat-x;
	transform: scaleX(-1);
}
.desk-y {
	background-repeat: repeat-y;
	transform: scaleY(-1);
}